<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=1024, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <%= stylesheet_link_tag "mosaico_rails/editor.css" %>
  </head>
  <body class="mo-standalone">

    <%= javascript_include_tag "mosaico_rails/editor.js" %>

    <%= javascript_tag do %>
      window.mosaicoOptions = {
        imgProcessorBackend: '<%= MosaicoRails::Engine.routes.url_helpers.mosaico_image_path %>',
        titleToken: "MOSAICO Responsive Email Designer",
        template: '<%= MosaicoRails::Engine.routes.url_helpers.mosaico_template_path('modern') %>',
        fileuploadConfig: {
          url: '<%= MosaicoRails::Engine.routes.url_helpers.mosaico_upload_path %>'
        }
      };

      window.templatePath = <%= Hash[Dir.entries(MosaicoRails::Engine.root.join('lib/assets/mosaico/mosaico/templates/modern/edres')).map do |fileName|
          if fileName.ends_with?('.png')
            ["edres/#{fileName}", ActionController::Base.helpers.image_path("mosaico/templates/modern/edres/#{fileName}")]
          end
        end].to_json.html_safe %>;
      window.mosaicoPlugins = [
        function(viewModel) {

          viewModel.templatePath = function(name) {
            return window.templatePath[name];
          };
          viewModel.logoPath = '<%= asset_path('mosaico/dist/img/mosaico32.png') %>';
        },
        function(viewModel) {
          $(document).on('click', '#frame-container', function(event) {
            if (!$(event.target).is('#frame-container > iframe')) {
              viewModel.showPreviewFrame(false);
            }
          });
        }
      ];
    <% end %>

    <%= yield :mosaico_before_init %>

    <%= javascript_tag do %>
      <% if MosaicoRails.auto_init %>
        Mosaico.init(window.mosaicoOptions, window.mosaicoPlugins);
      <% end %>
    <% end %>

  </body>
</html>
