<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=1024, initial-scale=1">

    <link rel="canonical" href="http://mosaico.io" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />


  <%= javascript_include_tag "rails_mosaico/vendor/knockout.js" %>
  <%= javascript_include_tag "rails_mosaico/vendor/jquery.min.js" %>
  <%= javascript_include_tag "rails_mosaico/vendor/jquery-ui.min.js" %>
  <%= javascript_include_tag "rails_mosaico/vendor/jquery.ui.touch-punch.min.js" %>
  <%= javascript_include_tag "rails_mosaico/vendor/load-image.all.min.js" %>
  <%= javascript_include_tag "rails_mosaico/vendor/canvas-to-blob.min.js" %>
  <%= javascript_include_tag "rails_mosaico/vendor/jquery.iframe-transport.js" %>
  <%= javascript_include_tag "rails_mosaico/vendor/jquery.fileupload.js" %>
  <%= javascript_include_tag "rails_mosaico/vendor/jquery.fileupload-process.js" %>
  <%= javascript_include_tag "rails_mosaico/vendor/jquery.fileupload-image.js" %>
  <%= javascript_include_tag "rails_mosaico/vendor/jquery.fileupload-process.js" %>
  <%= javascript_include_tag "rails_mosaico/vendor/knockout-jqueryui.min.js" %>
  <%= javascript_include_tag "rails_mosaico/vendor/tinymce.min.js" %>
  <%= javascript_include_tag "rails_mosaico/mosaico.min.js" %>
  <%= javascript_include_tag "rails_mosaico/mosaico-init.js" %>

    <%= stylesheet_link_tag    "rails_mosaico/mosaico-material.min.css?v=0.10", media: "all" %>
    <%= stylesheet_link_tag    "rails_mosaico/vendor/notoregular/stylesheet.css" %>
    <!-- <%= stylesheet_link_tag    "rails_mosaico/vendor/evol.colorpicker.min.css" %> -->

  </head>
  <body class="mo-standalone">


  </body>
  <%= javascript_include_tag "rails_mosaico/mutation-observer.js" %>
</html>
